version: '3.8'
services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports: 
      - 8000:8000
    volumes:
      - .:/app
    depends_on:
      - db

  db:
    image: postgres:13
    restart: always
    environment: 
      POSTGRES_DB: admin
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
    ports:
      - 54322:5432
    volumes:
      - /data:/var/lib/postgresql/data